.build/
.log/
.repo/
.vs/
build/
bin/
packages/ecs/ecs.lua
clibs/gameplay/src/core/entity.h
.DS_Store
packages/resources/ui/json.lua
*.xcuserstate
*.xcbkptlist
*.xcscheme
/.vscode
/runtime/macos/FrameCapture/

