sector-menu-button-container {
	flex-direction: row-reverse;
	align-items: flex-start;
	transform-origin: 100% 100%;
	right: 3.995vmax;
	bottom: 7vmin;
	width: 69.00vmin;
	height: 69.00vmin;
	padding: 0vmin;
	margin: 0vmin;
	position: absolute;
	pointer-events: none;
}
sector-menu-button {
	position: absolute;
	background-size: cover;
}
sector-menu-button:active {
	transform: scale(1.2);
}

sector-menu-main-button {
	width: 29.90vmin;
	height: 29.90vmin;
	position: absolute;
	right: 3.995vmax;
	bottom: 7.00vmin;
	background-image: '/pkg/vaststars.resources/ui/textures/construct/main-button-bg.texture';
	background-size: 100% 100%;
}
sector-menu-main-button:active {
	transform: scale(1.2);
}
sector-menu-main-button-icon {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-size: 100% 100%;
	width: 58.49%;
	height: 58.49%;
}