BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: All
PackConstructorInitializers: Never
QualifierAlignment: Left
SpaceBeforeCpp11BracedList: true
